.item-header-list{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    overflow: scroll;
    margin: 0 0 0 -3em
}

.item-header-list::-webkit-scrollbar{
    display: none;
}


.item-header-list-elements{
    padding: 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-header-container{
    padding: 3em 0;
}

.item-header-list-elements img{
    width: 60;
    height: 60px;
    border-radius: 100%;
}

.item-header-container{
    overflow: scroll;
}