.orderItem{
    border: 1px solid black;
}

.btn-tomato{
    background-color: tomato;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 4px;
}

.orderItems{
    display: flex;
}

.dot{
    height: 10px;
    width: 10px;
    background-color: tomato;
    border-radius: 100%;
}