.main-sec {
    /* Layout */
    max-height: auto;
    min-height:85vh ;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em;

    /* Background */
    background: url("../../assets/home-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* Typography */
    color: #fff;
    font-weight: 700;

    /* Border radius */
    border-radius: 30px;

    position: relative;
    
}

.main-head1, .btn-menu{
    animation: fadein 2s;
}

.btn-menu{
    border-radius: 30px !important;
}

@keyframes fadein {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
    
}

.btn-menu a{
    color: #000 !important;

}

.btn-menu:hover{
    transform: scale(1.1);
    
}

.btn-menu a:hover{
    color: #000 !important;
    text-decoration: none;
    
}

.main-head1{
    font-size: 4em !important;
}

.cart-icon{
    color: black;
}

.cart-icon:hover{
    color: black;
    transform: scale(1.1);
}